.fg_password{
    background:#fff;
    position: absolute;
    padding:2em;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
    
}

.h2-forgot{
    text-align: center;
}

.input-forgot{
    padding: .6em;
    margin-top: .5em;
    font-size:1.1em;
}

.btn-forgot{
    background:green;
    padding:8px;
    font-weight: bold;
    color: #fff;
    width:100px;
    position: relative;
    left:50%;
    transform: translateX(-50%)
}


.btn-forgot:hover{
    background:rgb(97, 180, 97);
}

.row{
    margin:1.5em 0;
}