.h2-login{
    text-align: center;
    color: rgb(140, 187, 140);

}


.login_page{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}

.form-login{
    background-color:#fff;
    width:500px;
    max-width:auto;
    margin:2em auto;
    padding:2em;
    display:flex;
    flex-direction:column;
    border-radius:10px;
    
}

label{
    display:block;
    font-weight: bold;
    font-size: .9em;
}

.login-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .btn-login{
    text-align:center;
    background: var(--btn-color);
    padding: 5px;
    border-radius:8px;
    font-weight: bold;
    width: 50%;
    margin-bottom: 1em;
  }
  
  .btn-login:hover{
    background: rgba(54, 190, 54, 0.9);
  }
  
  .forgot-link{
    font-size: .9em;
    text-align: left;
    color: rgb(204, 38, 38);
    font-size: 1em;
    margin-top: 1em;
  }

  .link-register{
    color:rgba(54, 190, 54, 0.9);
    font-weight: bold;
  }

  .hr{
    color:white;
    font-size: 1.2em;
  }

  .social{
    margin-top: 1em;
    display: flex;
    gap:10px;
  }

  .google{
    height: 50px;
  }

  .face{
    height: 50px;
    background-color: #3A5795;
    color:white;
    width:auto;
    font-size: 1.1em;
    padding:10px;
    
  }

  .face:hover{
    background-color:#5778be;
  }