@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,500&display=swap');

:root{
  --btn-color: rgb(10, 177, 10);
}

* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  font-family: 'Montserrat', sans-serif;

}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button{
  border:none;
  outline:none;
  cursor:pointer;
}

body {
  margin                 : 0;
  background             : rgb(56, 53, 53);
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  max-width: 1200px;
  margin:0 auto;
}


input{
  border:none;
  border-bottom: 1px solid black;
  width:100%;
  margin-bottom: 1.5em;
}

input:focus{
  outline:none;
}

