@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');

:root{
--main-color:rgb(244, 250, 247);
--secundary-color: rgb(56, 53, 53);
}



.App{
  height: 100vh;
  width:100vw;
  overflow: auto;
  background-color: var(--secundary-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  color: var(--main-color);
  background: url("./bg-landing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.Link{
  text-decoration: none;
  color: var(--main-color);
}

.Link:hover{
  color: rgb(122, 194, 122);
}
ul{
  display: flex;
  gap:1.6em;
  justify-content: flex-end;
  margin: 1.4em;
  margin-right: 2.5em;;
}

li{
  list-style: none;
}

h1{
  font-size: 3em;
  margin-bottom: .7em;
}

.p{
  font-size: .9em;
  font-weight: 300;
}

header{
  display: flex;
  justify-content: space-between;
}

main{
  display:flex;
  margin: 6em;
  padding-bottom: 0;
}

.info{
  width: 50%;
  height: auto;
  
}

.btn-create{
  margin-top: 1em;
  display: block;
  width:150px;
  background-color: var(--main-color);
  color:#020202;
  text-decoration: none;
  text-align: center;
  padding:8px;
  box-shadow: 0px 0px 10px 0px black;
  font-weight: bold;
  
}

.btn-create:hover{
  background-color: rgb(122, 194, 122);
  
}

img{
  display:block;
  margin-left: 6em;
  margin-top: 1.4em;
  width:150px;
  height:100px;
}